<!DOCTYPE html>
<html>
<!-- meta -->
  <head>
    <meta charset="utf-8">
<!-- css and js links -->
    <link rel="stylesheet" href="/app.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <script
    src="http://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>
    <script type="text/javascript" src="/app.js"></script>
<!-- title -->
    <title>flow.hack | Submit New Board</title>
  </head>
  <body class="pageBody">
<!-- header for every page -->
    <div class="heading">
      <hr>
      <a href="/products"><h1 class="header">flow.hack</h1></a>
      <h2>snowboards that push past the edge of design</h2>
      <a href="/products" class="nav">Choose Your Board</a> <span class="nav"> | </span>
      <a href="/products/new" class="nav">Submit New Board</a>
      <hr>
    </div>
<!-- create new product form -->
    <h1 class="page-header">Submit a New Board</h1>
    <form action="/products" method="POST">
      Name:<br/><input type="text" name="name"><br/>
      Description:<br/><input type="text" name="description"><br/>
      Image Hyperlink:<br/><input type="text" name="img"><br/>
      Price:<br/><input type="number" name="price"><br/>
      Quantity:<br/><input type="number" name="qty"><br/>
      <input type="submit" class="submit" value="Send It"><br/>
    </form><br/>
<!-- link back to products page -->
    <a href="/products">Back</a>
<!-- footer -->
    <footer>
      <hr>
      <p>github: <a href="https://github.com/mayagold" class="github">mayagold</a></p>
      <hr>
    </footer>
  </body>
</html>
